#mainContainer {
    width: 100%;
    height: auto;
}

/* Space BG */

#spaceContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #131316;
    overflow: hidden;
}

#stars {
    height: 100vh;
    width: 100%;
}

/* Profile text */

.ralewayText {
    font-family: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.orbitronText {
    font-family: 'Orbitron', 'Times New Roman', Times, serif;
    letter-spacing: 0.2vw;
    font-weight: 100;
}

.openSansText {
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.redText {
    color: red;
}

.profileContainer {
    position: absolute;
    color: white;
    top: 30vw;
    right: 10vw;
}

.profileContainer h1 {
    font-size: 5vw;
    margin: 0;
}

.profileContainer h3 {
    font-size: 2vw;
    margin: 1vw 0;
}

/* Bio section */

#bioContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-image: url(/img/aurora-mountains-cropped.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

#bioContainer h2,
.expContainer h3,
.expContainer h4,
.expBox li {
    color: white;
    font-weight: 100;
}

#bioContainer h2 {
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
}

.expContainer {
    display: flex;
    height: 50vw;
}

.expBox {
    width: 50%;
    display: flex;
    justify-content: center;
}

.expBox div {
    width: 50%;
}

.expContainer h3 {
    margin: 0;
    font-size: 1.5vw;
    font-weight: 700;
}

.expContainer h4 {
    margin: 0;
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
}

.expBox ol,
li {
    margin: 0;
    padding: 0;
}

.expBox li {
    list-style: none;
    font-size: 1vw;
    text-indent: -1em;
    padding-left: 1em;
}

.expBox li:before {
    content: "\2192";
}

#bioContainer h2,
.expContainer h3,
.expContainer h4,
.expBox li {
    color: #222;
    font-weight: 100;
}

#bioContainer h2 {
    margin: 2vw 0;
    font-size: 2.5vw;
    text-align: center;
}

.bioTopContainer {
    height: 65%;
}

.expContainer {
    display: flex;
}

.contactContainer {
    height: 15%;
    width: 100%;
}

.resumeContainer:after {
    content: "";
    display: block;
    margin: 0 auto;
    left: 0;
    top: 0;
    height: 1px;
    width: 75%;
    border-bottom: 1px solid #333;
}

.expBox,
.contactContainer div {
    width: 50%;
    display: flex;
    justify-content: center;
}

.expBox div {
    width: 50%;
}

.expContainer h3 {
    margin: 0 0 1vw 0;
    font-size: 1.5vw;
    font-weight: 700;
}

.expContainer h4 {
    margin: 0;
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
}

.expBox ol,
li {
    margin: 0.5vw 0 0 0;
    padding: 0;
}

.expBox li {
    list-style: none;
    font-size: 1vw;
    text-indent: -1em;
    padding-left: 1em;
}

.expBox li:before {
    content: "\2192";
}

.rawkitship {
    position: absolute;
    height: 0;
    width: 0;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.rawkitship img {
    position: absolute;
    width: 8vw;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0.3;
    z-index: -1;
}

.resumeContainer {
    height: 20%;
}

.resumeContainer h4 {
    margin: 1vw 0 1vw 0;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 100;
}

.getResume {
    display: block;
    margin: 0 auto 2vw auto;
    border: 1px solid #333;
    border-radius: 5px;
    height: 5vw;
    width: 15vw;
    font-size: 1.5vw;
}

.contactContainer {
    font-size: 1.2vw;
    display: flex;
}

.contactContainer a {
    margin: 0;
    color: black;
    text-decoration: none;
}

/* Phone media queries */

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
    .profileContainer h1 {
        font-size: 8vw;
    }

    .profileContainer h3 {
        font-size: 3.3vw;
    }

    #bioContainer {
        height: auto;
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-areas:
            ". biotop ."
            ". leftexp ."
            ". rightexp ."
            ". resume ."
            ". contact ."
    }

    .rawkitship {
        display: none;
    }

    .bioTopContainer,
    .expBox,
    .resumeContainer,
    .contactContainer {
        grid-column-start: 2;
    }
    .bioTopContainer {
        border-bottom: 5px solid black;
        padding-bottom: 4vw;
    }
    .expBox {
        width: 100%;
    }
    .expBox div {
        width: auto;
    }
    .expBox li {
        font-size: 3vw;
        line-height: 4vw;
        margin: 2vw 0;
    }
    #bioContainer h2 {
        font-size: 10vw;
    }
    #bioContainer h3 {
        font-size: 7vw;
        border-bottom: 1px solid black;
        padding-bottom: 2vw;
        width: 50%;
    }
    #bioContainer h4 {
        font-size: 5vw;
        margin: 0;
    }
    .getResume {
        display: block;
        margin: 10vw auto 10vw auto;
        border: 1px solid #333;
        border-radius: 5px;
        height: 15vw;
        width: 40vw;
        font-size: 5vw;
    }
    .contactContainer {
        flex-wrap: wrap;
        height: 15vw;
        margin: 2vw 0;
    }
    .contactContainer div {
        width: 100%;
        margin: 2vw 0;
    }
    .contactContainer a {
        font-size: 4vw;
    }
    .resumeContainer:after {
        width: 90%;
    }
}

/* Tablet media queries */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .profileContainer h1 {
        font-size: 7vw;
    }

    .profileContainer h3 {
        font-size: 2.8vw;
    }

    .rawkitship {
        display: none;
    }

    .bioTopContainer {
        grid-area: biotop;
    }

    .leftSide {
        grid-area: leftexp;
    }

    .rightSide {
        grid-area: rightexp;
    }

    .resumeContainer {
        grid-area: resume;
        height: auto;
    }

    .contactContainer {
        grid-area: contact;
    }

    #bioContainer {
        display: grid;
        grid-template-columns: 5% 1fr 1fr 5%;
        grid-template-rows: auto;
        grid-template-areas:
            ". biotop biotop ."
            ". leftexp rightexp ."
            ". resume resume ."
            ". contact contact ."
    }

    #bioContainer h2 {
        font-size: 10vw;
    }

    #bioContainer h3 {
        font-size: 6.5vw;
        border-bottom: 1px solid black;
        padding-bottom: 2vw;
        width: 90%;
    }

    #bioContainer h4 {
        font-size: 4.5vw;
        margin: 0 0 0 3vw;
    }

    .bioTopContainer {
        border-bottom: 5px solid black;
        padding-bottom: 4vw;
    }

    .expBox {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .expBox div {
        width: 100%;
    }

    .expBox li {
        font-size: 3vw;
        line-height: 4vw;
        margin: 2vw 0;
        width: 85%;
    }

    .getResume {
        height: 15vw;
        width: 40vw;
        font-size: 5vw;
        margin: 10vw auto 10vw auto
    }

    .contactContainer {
        height: 7vw;
        margin: 5vw 0;
    }

    .contactContainer a {
        font-size: 3vw;
    }
}