#mainContainer {
    width: 100%;
    height: auto;
}


/* Space BG */

#spaceContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #081f35;
    overflow: hidden;
}

#stars {
    height: 100vh;
    width: 100%;
}


/* Profile text */

.ralewayText {
    font-family: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.orbitronText {
    font-family: 'Orbitron', 'Times New Roman', Times, serif;
}

.profileContainer {
    position: absolute;
    color: white;
    top: 30vw;
    right: 10vw;
}

.profileContainer h1 {
    font-size: 5vw;
    margin: 0;
}

.profileContainer h3 {
    font-size: 2vw;
    margin: 1vw 0;
}


/* Bio section */

#bioContainer {
    height: 100vh;
    width: 100%;
}