@import 'vars-mixins';
.bio-container__top {
	grid-area: biotop;
}

.left-side {
	grid-area: leftexp;
}

.right-side {
	grid-area: rightexp;
}

.technologies-container {
	grid-area: tech;
}

.resume-container {
	grid-area: resume;
	height: auto;
}

.contact-container {
	grid-area: contact;
}

#main-container {
	width: 100%;
	height: auto;
}

nav,
.navbar,
.navbar__item {
	height: 0;
	margin: 0;
	padding: 0;
}

.navbar__item__logo {
	height: 5em;
	width: 5em;
	position: absolute;
	z-index: 2;
	top: 1em;
	left: 50%;
	transform: translateX(-50%);
	@include phone {
		height: 12vw;
		width: 12vw;
		position: absolute;
		z-index: 2;
		top: 3vh;
		left: 5vw;
		transform: none;
	}
	@include tablet {
		height: 12vw;
		width: 12vw;
		position: absolute;
		z-index: 2;
		top: 5vw;
		left: 5vw;
		transform: none;
	}
}

.hero-container {
	position: relative;
	height: 100vh;
	width: 100%;
	background: #131316;
	overflow: hidden;
}

#stars {
	height: 100vh;
	width: 100%;
}

.hero-container__title-container {
	position: absolute;
	color: white;
	top: 30vw;
	right: 20vh;
	@include phone {
		width: 90vw;
		top: 20vh;
		right: 50%;
		transform: translateX(50%);
	}
	@include tablet {
		width: 90vw;
		top: 20vh;
		right: 50%;
		transform: translateX(50%);
	}
	.my-name--red-text {
		color: red;
	}
	h1 {
		font-family: $open-sans;
		font-size: 6em;
		margin: 0;
		@include phone {
			font-size: 2.6em;
			text-align: center;
		}
		@include tablet {
			font-size: 4em;
			text-align: center;
		}
	}
	h2 {
		font-family: $open-sans;
		font-size: 3em;
		font-weight: 100;
		text-align: center;
		margin: 1vw 0;
		@include phone {
			font-size: 1.4em;
			text-align: center;
		}
		@include tablet {
			font-size: 2em;
		}
	}
}

.bio-container {
	height: 1200px;
	width: 1200px;
	margin: 0 auto; // display: flex;
	// flex-direction: column;
	@include phone {
		width: 100%;
		height: auto;
		display: grid;
		grid-template-columns: 5% auto 5%;
		grid-template-areas: ". biotop ." ". leftexp ." ". rightexp ." ". tech ." ". resume ." ". contact ."
	}
	@include tablet {
		width: 100%;
		display: grid;
		grid-template-columns: 5% 1fr 1fr 5%;
		grid-template-rows: auto;
		grid-template-areas: ". biotop biotop ." ". leftexp rightexp ." ". tech tech ." ". resume resume ." ". contact contact ."
	}
	h3 {
		font-family: $open-sans;
		font-size: 2em;
		border-bottom: 1px solid black;
		width: 50%;
		@include phone {
			font-size: 1.6em;
			border-bottom: 1px solid black;
			padding-bottom: 0.5em;
			margin: 0.5em 0 0.5em 0;
		}
		@include tablet {
			font-size: 2.4em;
			border-bottom: 1px solid black;
			padding-bottom: 0.5em;
			width: 85%;
		}
	}
	h4 {
		font-size: 1.4em;
		margin: 0.3em 0;
		@include phone {
			font-size: 1.2em;
			margin: 0;
		}
		@include tablet {
			font-size: 1.8em;
			margin: 0 0 0.5em 0;
			font-weight: 100;
		}
	}
}

.bio-container__top,
.exp-box,
.technologies-container,
.resume-container,
.contact-container {
	@include phone {
		grid-column-start: 2;
	}
}

.bio-container__top {
	height: 225px;
	margin-top: 5em;
	@include phone {
		border-bottom: 3px solid black;
		padding-bottom: 2vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 45vh;
		margin-top: 1em;
	}
	@include tablet {
		height: 25vh;
		margin-top: 1em;
	}
	p {
		font-size: 1.5em;
		.gh-text {
			font-family: $gh-text;
			font-size: 1.2em;
			@include phone {
				font-weight: 600;
				letter-spacing: 0.1em;
				font-style: italic;
			}
			@include tablet {
				font-weight: 600;
				letter-spacing: 0.1em;
				font-style: italic;
			}
		}
		font-family: $open-sans;
		@include phone {
			width: 85vw;
			text-align: center;
			font-size: 1.3em;
		}
		@include tablet {
			text-align: left;
			font-size: 1.3em;
			margin: 2.5em 0 2em 0;
		}
	}
	h2 {
		font-family: $open-sans;
		font-size: 3.5em;
		text-align: center;
		@include phone {
			font-size: 2.6em;
			margin: 0;
		}
		@include tablet {
			font-size: 3.5em;
		}
	}
}

.exp-box {
	float: left;
	margin-bottom: 5em;
	width: 50%;
	display: flex;
	justify-content: center;
	@include phone {
		float: none;
		display: block;
		margin-bottom: 0;
		float: none;
		width: 100%;
	}
	@include tablet {
		float: none;
		display: block;
		margin-bottom: 0;
		float: none;
		width: 100%;
		height: 75vh;
		;
	}
	div {
		width: 80%;
		@include phone {
			width: auto;
		}
		@include tablet {
			width: auto;
		}
	}
	ol {
		padding: 0;
	}
	li {
		font-family: $open-sans;
		font-size: 1.2em;
		text-indent: -1.4em;
		padding-left: 1.3em;
		margin: 0.5em 0 0 0;
		color: #222;
		font-weight: 100;
		list-style: none;
		@include phone {
			font-size: 1.1em;
			line-height: 1em;
			margin: 1em 0;
			text-indent: -1.4em;
			padding-left: 1.3em;
		}
		@include tablet {
			font-size: 1.4em;
			margin: 1em 0;
			text-indent: -1.2em;
			padding-left: 1.3em;
		}
	}
	li:before {
		margin-right: 0.4em;
		content: "\2192";
	}
}

.left-side {
	@include phone {
		height: 55vh;
		border-bottom: 3px solid black;
	}
}

.right-side {
	@include phone {
		height: 60vh;
	}
}

.technologies-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 150px;
	width: 100%;
	margin-bottom: 5em;
	@include phone {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 40vh;
		margin-bottom: 0;
	}
	@include tablet {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 20vh;
		margin: 3em 0 0 0;
	}
	.technologies-container__logo {
		width: 20%;
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include phone {
			width: 30%;
		}
		@include tablet {
			width: 20%;
		}
		img {
			height: 150px;
			@include phone {
				height: auto;
				width: 100%;
			}
			@include tablet {
				height: auto;
				width: 80%;
			}
		}
		.technologies-container__logo--scale16 {
			@include phone {
				transform: scale(1.6);
			}
			@include tablet {
				transform: scale(1.6);
			}
		}
		.technologies-container__logo--scale07 {
			@include phone {
				transform: scale(0.7);
			}
			@include tablet {
				transform: scale(0.7);
			}
		}
	}
}

.resume-container {
	font-family: $open-sans;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	@include phone {
		height: 30vh;
	}
	@include tablet {
		height: 25vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	h4 {
		text-align: center;
		font-weight: 100;
		font-size: 1.5em;
	}
	&:after {
		content: "";
		display: block;
		margin: 0 auto;
		left: 0;
		top: 0;
		height: 1px;
		width: 100%;
		border-bottom: 1px solid #333;
		@include phone {
			width: 90%;
		}
	}
	.resume-container__get-resume {
		background-color: #333;
		color: white;
		height: 60px;
		width: 150px;
		margin: 0 auto;
		font-size: 1.2em;
		@include phone {
			display: block;
			margin: 10vw auto 10vw auto;
			border: 1px solid #333;
			border-radius: 5px;
			height: 30%;
			width: 40vw;
		}
		@include tablet {
			height: 3em;
			width: 8em;
			border: 1px solid #333;
			border-radius: 5px;
			font-size: 1.6em;
		}
	}
}

.contact-container {
	font-family: $open-sans;
	height: 125px;
	margin-bottom: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	@include phone {
		flex-wrap: wrap;
		height: 10vh;
		margin: 2vw 0 5vh 0;
	}
	@include tablet {
		height: auto;
		margin: 2em 0 5em 0;
		font-size: 1.6em;
	}
	div {
		text-align: center;
		&:first-child {
			width: 60%;
			@include phone {
				width: 100%;
				margin: 1vh 0;
			}
		}
		&:last-child {
			width: 40%;
			@include phone {
				width: 100%;
				margin: 1vh 0;
			}
		}
	}
	a {
		margin: 0;
		color: black;
		text-decoration: none;
		@include phone {
			font-size: 5vw;
		}
	}
}