@import 'vars-mixins';
nav,
.navbar,
.navbar__item {
	@include phone {
		height: 0;
		margin: 0;
		padding: 0;
	}
}

.navbar__item__logo {
	@include phone {
		height: 12vw;
		width: 12vw;
		position: absolute;
		z-index: 2;
		top: 5vw;
		left: 5vw;
	}
}

.hero-container__title-container {
	@include phone {
		width: 90vw;
		top: 20vh;
		right: 50%;
		transform: translateX(50%);
	}
	h1 {
		@include phone {
			font-size: 2.6em;
			text-align: center;
		}
	}
	h2 {
		@include phone {
			font-size: 1.4em;
			text-align: center;
			font-weight: 100;
		}
	}
}

.bio-container {
	@include phone {
		height: auto;
		display: grid;
		grid-template-columns: 5% auto 5%;
		grid-template-areas: ". biotop ." ". leftexp ." ". rightexp ." ". tech ." ". resume ." ". contact ."
	}
	h3 {
		@include phone {
			font-size: 1.6em;
			border-bottom: 1px solid black;
			padding-bottom: 0.5em;
			width: 50%;
			margin: 0.5em 0 0.5em 0;
		}
	}
	h4 {
		@include phone {
			font-size: 1.2em;
			margin: 0;
		}
	}
}

.bio-container__top,
.exp-box,
.technologies-container,
.resume-container,
.contact-container {
	@include phone {
		grid-column-start: 2;
	}
}

.bio-container__top {
	@include phone {
		border-bottom: 3px solid black;
		padding-bottom: 2vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 45vh;
	}
	p {
		@include phone {
			width: 85vw;
			text-align: center;
			font-size: 1.3em;
		}
	}
	h2 {
		@include phone {
			font-size: 2.6em;
		}
	}
	.gh-text {
		@include phone {
			font-family: $gh-text;
			font-weight: 600;
			letter-spacing: 0.1em;
			font-style: italic;
			font-size: 1.2em;
		}
	}
}

.exp-box {
	@include phone {
		width: 100%;
	}
	div {
		@include phone {
			width: auto;
		}
	}
	li {
		@include phone {
			font-size: 1.1em;
			line-height: 1em;
			margin: 1em 0;
			text-indent: -1.4em;
			padding-left: 1.3em;
		}
	}
	li:before {
		@include phone {
			margin-right: 0.4em;
		}
	}
}

.left-side {
	@include phone {
		height: 55vh;
		border-bottom: 3px solid black;
	}
}

.right-side {
	@include phone {
		height: 60vh;
	}
}

.technologies-container {
	@include phone {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 40vh;
	}
	.technologies-container__logo {
		@include phone {
			width: 30%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			@include phone {
				width: 100%;
			}
		}
		.technologies-container__logo--scale16 {
			@include phone {
				transform: scale(1.6);
			}
		}
		.technologies-container__logo--scale07 {
			@include phone {
				transform: scale(0.7);
			}
		}
	}
}

.resume-container {
	@include phone {
		height: 30vh;
	}
	.resume-container:after {
		@include phone {
			width: 90%;
		}
	}
	.resume-container__get-resume {
		@include phone {
			display: block;
			margin: 10vw auto 10vw auto;
			border: 1px solid #333;
			border-radius: 5px;
			height: 30%;
			width: 40vw;
			font-size: 1.2em;
		}
	}
}

.contact-container {
	@include phone {
		flex-wrap: wrap;
		height: 10vh;
		margin: 2vw 0;
	}
	div {
		@include phone {
			width: 100%;
			margin: 1vh 0;
		}
	}
	a {
		@include phone {
			font-size: 5vw;
		}
	}
}